<div class="page__hero--overlay" style="background-color: #000; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/LongtownSignAndSchool.jpg');">
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline">
          The History of the free African American farming community of Greenville/Longtown
      </h1>
        <p class="page__lead">When I went to Palestine [Ohio] in junior high, it was so prejudiced, and then you know we’re free here, at home. This is home. This is safety. This is free…. No matter where you go, how old you are, when you go home, you’re home. That’s here. That’s Longtown. –Patricia Hope, Longtown resident
</p>
    </div>
    <span class="page__hero-caption">Photo credit: TBD
</span>
</div>
