<!--
itemid: 15h_5
itemdescendant: jett
itemgroupid: 15h
itemgroupname: Women's cape (black and floral material)
itemname: 5
itemtype: physical object
shortdesc: 
categories: [  ]
tags: [  ]
-->
<!-- begin post -->

{% capture ItemImagePath %}assets/{{ item.itemdescendant }}/{{ item.itemgroupid }}_th{% endcapture %}
{% for static_file in site.static_files %}
{% if static_file.path contains ItemImagePath %}
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ item.url }}">
						<img class="img-fluid" src="{{ site.baseurl }}{{ static_file.path }}" alt="{{ item.itemgroupname }}">
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a href="{{ site.baseurl }}{{ item.url }}">{{ item.itemgroupname }}</a>
            </h2>
                {% if item.itemdescendant %}
                <span class="post-name">{{ item.itemdescendant }}</span><br/>
                {% endif %}
            <h4 class="card-text">{{ item.shortdesc | strip_html | truncatewords:30 }}</h4>            
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                <span class="author-meta">
                <span class="post-date">
               {% assign sortedCategories = item.categories | sort %}
               {% for category in sortedCategories %}
               <a class="btn follow" href="{{site.baseurl}}/groups#{{ category | replace: " ","-" }}">{{ category }}</a>
               {% endfor %}
               </span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
<!-- end post -->