---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

body {
	background: #fbf2e3;
	font-family: 'Roboto', sans-serif;
	color: #000;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #592a07;
	font-family: 'Roboto Slab', sans-serif;
}

.section-title h2{
	border-bottom: 1px solid #d5caa7;
}
.section-title span {
	border-bottom: 1px solid #592a07;
}

a {
     color:#733d15;
}
a:hover {
     color: #9f6233;
} 

.mediumnavigation {
     background:#592a07;
     color:#fbf2e3;
}

.navbar-brand {
	font-family: 'Roboto Slab', sans-serif;
}

.navbar-nav {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.1em;
}
.navbar-light a.navbar-brand, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active {
	color: #d5caa7;
}

.navbar-light a.navbar-brand:hover, .navbar-nav .nav-item a.nav-link:hover {
	color: #faf5e8;
}

blockquote {
	border-left:4px solid #733d15;
    color: #592a07;
}

.btn.follow {
     border-color:#9f6233;
}
.btn.subscribe {
     border-color:#9f6233;
}
.alertbar input[type="submit"] {
     background-color:#9f6233;
     border:1px solid #9f6233;
}
/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.footer {
     background: transparent;
	color: #000;
}

.headerimage_overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.headerimage_caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: .25 0 0 0;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.headerimage_title, .headerimage_subtitle, .headerimage_excerpt, .headerimage_excerpt, .headerimage_caption {
	color: #fbf2e3;
	font-weight: 800;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "stars"
;
