---
layout: page
---

{% if page.folder == undefined %}
{% else %}
	{% assign oralhistory = site.oralhistories | where: "folder", page.folder  | first %}
{% endif %}


{% if oralhistory.excerpt == undefined %}
{% else %}
<div class="row">
<div class="col-s-12 col-md-8">
{% endif %}
  
<div class="row listrecent"> 
{% for item in site.items %}
{% if item.itemdescendant == page.folder %}
{% include itembox.html %}
{% endif %}
{% endfor %}
</div>    

{% if oralhistory.excerpt == undefined %}
{% else %}
</div>
<div class="col-s-6 col-md-4"><h2>{{ oralhistory.excerpt | markdownify}}</div>
</div>
{% endif %}




<!--
>{% for item in site.items %}
{% if item.itemdescendant == page.folder %}
{% comment %}{% include itembox.html %}{% endcomment %}

{{ item.itemdescendant}}: {{ item.itemgroupname}}, {{ item.itemname}} <img src="/assets/collections/{{ item.itemdescendant }}/{{ item.itemid }}.jpg">

{% endif %}
{% endfor %}


swipe through photos so one is larger and the small thumbnails show at the bottom; do we need thumbnails for each photo or can I do that automatically?
-->
