---
title: "Archive Items"
layout: page
permalink: "/items"
---

{{ content }}

<div class="row listrecent"> 
{% assign pages_list = docs %}
{% for item in site.items %}
{% if item.itemcontributor == page.folder %}
{% comment %}{% include itembox.html %}{% endcomment %}

{{ item.itemcontributor}}: {{ item.itemgroupname}} {{ item.itemname}} <img src="/assets/collections/{{ item.itemcontributor }}/{{ item.itemid }}.jpg">

{% endif %}
{% endfor %}
</div>    

<!--swipe through photos so one is larger and the small thumbnails show at the bottom; do we need thumbnails for each photo or can I do that automatically?-->
