---
title: "Item"
layout: default
---

{% if page.itemid %}
{% assign contributor = site.descendants | where: "folder", page.itemdescendant  | first %}
{% endif %}

<section>
    <div class="section-title">
        <h2><span>{{ page.itemgroupname }}</span></h2>
        <p>Contributed by <a href="{{ contributor.url }}">{{ contributor.title }}</a>
    </div>
    
    <div class="article-post">
    {{content}}
    </div>
    
</section>


{% if static_file.path contains 'th' %}{% capture ItemImagePath %}assets/collections/{{ page.itemdescendant }}/{{ page.itemgroupid }}{% endcapture %}
{% else %}{% capture ItemImagePath %}assets/collections/{{ page.itemdescendant }}/{{ page.itemid }}{% endcapture %}
{% endif %}
{% for static_file in site.static_files %}
{% if static_file.path contains 'th' %}
{% elsif static_file.path contains ItemImagePath %}

<img src="{{ site.baseurl }}{{ static_file.path }}" alt="{{ page.title }}">
{% endif %}
{% endfor %}


<div class="element-set">

	<div class="section-title col-md-12 mt-4" style="padding-left: 0;">
	<h2 id="Dublin Core"><span class="text-capitalize">Dublin Core</span></h2>
	</div>
		<div id="dublin-core-title" class="element">
	<h4>Title</h4>
		{%if page.itemurl %}<a href="{{ page.itemurl }}" target="_blank">{% endif %}<div class="element-text">{{ page.title }}</div>{%if page.itemurl %}</a>{% endif %}
		</div><!-- end element -->
	<div id="dublin-core-subject" class="element">
	<h4>Subject</h4>
				<div class="element-text">{%if page.itemsubjecturl %}<a href="{{ page.itemsubjecturl }}" target="_blank">{% endif %}{{ page.itemsubject }}{%if page.itemsubjecturl %}</a>{% endif %}</div>
		</div><!-- end element -->
	<div id="dublin-core-description" class="element">
	<h4>Description</h4>
				<div class="element-text">{{ page.shortdesc }}</div>
		</div><!-- end element -->
	<div id="dublin-core-creator" class="element">
	<h4>Creator</h4>
				<div class="element-text">{{ page.itemcreator }}</div>
		</div><!-- end element -->
	<div id="dublin-core-contributor" class="element">
	<h4>Contributor</h4>
				<div class="element-text">{{ page.itemdescendant }}</div>
		</div><!-- end element -->
	<div id="dublin-core-date" class="element">
	<h4>Date</h4>
				<div class="element-text">{{ page.itemdate }}</div>
		</div><!-- end element -->
	<div id="dublin-core-type" class="element">
	<h4>Type</h4>
				<div class="element-text">{{ page.itemtype }}</div>
		</div><!-- end element -->
</div><!-- end element-set -->

  
